# Quiz Meet Statistics
The notebook leverages the quizStats module to compute various stats of quiz meets in WGLD.  It generates a monthly stat report, including quizzer and team points for current and previous months, as well year-to-date scores, and a sorted score tab for awards.

In [2]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML
import importlib

import quizStats as QS

In [3]:
#
# Change these fields for updating for a new quiz meet
#
# The target stats file for this meet:
fnxlsx='WGLD_202002_stats_demo.xlsx'

# The directories that the scoresheets are located in:
meetPaths=['201910','201911','201912','202002']

# Read all meets

In [4]:
# create division data structure
# div{'A':[{'path':<path>,'dfq':<meetQuizzerDataFrame>,'dft':<meetTeamDataFrame>}]}
importlib.reload(QS)

D=QS.readDivision(meetPaths)

# As a demonstration, list the team results for A from the last meet.
# dft is the dataframe for teams.
D['A'][-1]['dft']

                            Team   Quiz Place Score Points Errors
0              Marshfield1-Order  AR1Q1     3    30      1      2
1              Appleton-Veterans  AR1Q1     1   130     13      4
2      Appleton-Stars In The Sky  AR1Q1     2    90      8      3
0              Appleton-Veterans  AR1Q2     1   120     12      3
1      Appleton-Stars In The Sky  AR1Q2     3    10      1      5
2  Appleton-Strong and Steadfast  AR1Q2     2   100      9      3
0      Appleton-Stars In The Sky  AR1Q3     1   130     13      2
1  Appleton-Strong and Steadfast  AR1Q3     2   100      9      2
2              Marshfield1-Order  AR1Q3     3    90      7      2
0  Appleton-Strong and Steadfast  AR1Q4     3    40      2      4
1              Marshfield1-Order  AR1Q4     1    90     10      2
2              Appleton-Veterans  AR1Q4     2    50      5      5

In [5]:
# Show the stats for quizzers for the last meet.
# dfq is the dataframe for quizzers
D['A'][-1]['dfq']

,Quizzer,Team,Quiz,Points,Errors,Jumps
5,Luke Tompkins,Marshfield1-Order,AR1Q1,0,0,0
6,Elijah Fish,Marshfield1-Order,AR1Q1,10,2,3
7,Peter Tompkins,Marshfield1-Order,AR1Q1,0,0,0
8,None,Marshfield1-Order,AR1Q1,0,0,0
9,None,Marshfield1-Order,AR1Q1,0,0,0
10,Jeffrey Pennings,Appleton-Veterans,AR1Q1,60,1,4
11,Hope Tower,Appleton-Veterans,AR1Q1,20,0,1
12,Harleigh Brunette,Appleton-Veterans,AR1Q1,0,1,1
13,Hope Hanson,Appleton-Veterans,AR1Q1,30,2,4
14,None,Appleton-Veterans,AR1Q1,0,0,0
15,Grace Tower,Appleton-Stars In The Sky,AR1Q1,10,2,3
16,None,Appleton-Stars In The Sky,AR1Q1,0,0,0
17,Jaquelyn Dickinson,Appleton-Stars In The Sky,AR1Q1,0,0,0
18,Aliya Strasburg,Appleton-Stars In The Sky,AR1Q1,40,1,3
19,None,Appleton-Stars In The Sky,AR1Q1,0,0,0
5,Jeffrey Pennings,Appleton-Veterans,AR1Q2,60,1,4
6,Hope Tower,Appleton-Veterans,AR1Q2,0,0,0
7,Harleigh Brunette,Appleton-Veterans,AR1Q2,0,0,0
8,Hope Hanson,Appleton-Veterans,AR1Q2,10,2,3
9,None,Appleton-Veterans,AR1Q2,0,0,0
10,Grace Tower,Appleton-Stars In The Sky,AR1Q2,-10,2,2
11,None,Appleton-Stars In The Sky,AR1Q2,0,0,0
12,Jaquelyn Dickinson,Appleton-Stars In The Sky,AR1Q2,0,0,0
13,Aliya Strasburg,Appleton-Stars In The Sky,AR1Q2,0,3,4
14,None,Appleton-Stars In The Sky,AR1Q2,0,0,0
15,Alyona Zabel,Appleton-Strong and Steadfast,AR1Q2,0,0,0
16,Isabel Hsie,Appleton-Strong and Steadfast,AR1Q2,60,1,4
17,Mercy Tower,Appleton-Strong and Steadfast,AR1Q2,-10,2,2
18,Faith Tower,Appleton-Strong and Steadfast,AR1Q2,0,0,0
19,None,Appleton-Strong and Steadfast,AR1Q2,0,0,0
5,Grace Tower,Appleton-Stars In The Sky,AR1Q3,60,0,3
6,None,Appleton-Stars In The Sky,AR1Q3,0,0,0
7,Jaquelyn Dickinson,Appleton-Stars In The Sky,AR1Q3,0,0,0
8,Aliya Strasburg,Appleton-Stars In The Sky,AR1Q3,50,2,5
9,None,Appleton-Stars In The Sky,AR1Q3,0,0,0
10,Alyona Zabel,Appleton-Strong and Steadfast,AR1Q3,0,0,0
11,Isabel Hsie,Appleton-Strong and Steadfast,AR1Q3,40,1,3
12,Mercy Tower,Appleton-Strong and Steadfast,AR1Q3,40,1,3
13,Faith Tower,Appleton-Strong and Steadfast,AR1Q3,0,0,0
14,None,Appleton-Strong and Steadfast,AR1Q3,0,0,0
15,Luke Tompkins,Marshfield1-Order,AR1Q3,0,0,0
16,Elijah Fish,Marshfield1-Order,AR1Q3,70,2,6
17,Peter Tompkins,Marshfield1-Order,AR1Q3,0,0,0
18,None,Marshfield1-Order,AR1Q3,0,0,0
19,None,Marshfield1-Order,AR1Q3,0,0,0
5,Alyona Zabel,Appleton-Strong and Steadfast,AR1Q4,0,0,0
6,Isabel Hsie,Appleton-Strong and Steadfast,AR1Q4,-20,3,3
7,Mercy Tower,Appleton-Strong and Steadfast,AR1Q4,40,1,3
8,Faith Tower,Appleton-Strong and Steadfast,AR1Q4,0,0,0
9,None,Appleton-Strong and Steadfast,AR1Q4,0,0,0
10,Luke Tompkins,Marshfield1-Order,AR1Q4,0,0,0
11,Elijah Fish,Marshfield1-Order,AR1Q4,30,2,4
12,Peter Tompkins,Marshfield1-Order,AR1Q4,0,0,0
13,None,Marshfield1-Order,AR1Q4,0,0,0
14,None,Marshfield1-Order,AR1Q4,0,0,0
15,Jeffrey Pennings,Appleton-Veterans,AR1Q4,30,2,4
16,Hope Tower,Appleton-Veterans,AR1Q4,0,0,0
17,Harleigh Brunette,Appleton-Veterans,AR1Q4,0,0,0
18,Hope Hanson,Appleton-Veterans,AR1Q4,-20,3,3
19,None,Appleton-Veterans,AR1Q4,0,0,0

# Unique quizzers, by division
As a check, we want to find the unique quizzers for each division.  This will confirm that there weren't any misspellings.

In [15]:
importlib.reload(QS)
uqz={}
for div in ['A','B']:
    uqz[div]=QS.uniqueQuizzers(D[div])
    print('Division %s'%div)
    display(uqz[div])

Division A

array(['Jeffrey Pennings', 'Hope Tower', 'Harleigh Brunette',
       'Hope Hanson', None, 'Aliya Strasburg', 'Jaquelyn Dickinson',
       'Grace Tower', 'Alyona Zabel', 'Isabel Hsie', 'Mercy Tower',
       'Elijah Fish', 'Peter Tompkins', 'Clinton Tompkins',
       'Luke Tompkins', 'Faith Tower'], dtype=object)

Division B

array(['Rachel Strasburg', 'Jack Henslin', 'Anika Moe',
       'Elizabeth Dickinson', None, 'Logan Berry', 'Job Guevara',
       'Cayden Rath', 'Olivia Moore', 'Shanice Warigi', 'Elsa Guevara',
       'Emmalynn Beers-Fuhrman', 'Hudson Tompkins', 'Logan Colby',
       'Weston Wiltse', 'Tommy Thorson'], dtype=object)

# Unique teams, by division
Check the team names.

In [16]:
importlib.reload(QS)
utm={}
for div in ['A','B']:
    utm[div]=QS.uniqueTeams(D[div])
    print('Division %s'%div)
    display(utm[div])

Division A

array(['Appleton-Veterans', 'Appleton-Stars In The Sky',
       'Appleton-Strong and Steadfast', 'Marshfield1-Order'], dtype=object)

Division B

array(['Appleton-Scepter Of Justice', 'Appleton-BOSS',
       'Appleton-Mountain of Fear', 'Marshfield-Which Of The Angels'],
      dtype=object)

# Current Month Quizzer Stats

In [19]:
importlib.reload(QS)
currQuiz={}
for div in ['A','B']:
    q=D[div][-1]['dfq']
    currQuiz[div]=QS.meetStats(q,termList=list(uqz[div]))
    print('Division %s'%div)
    display(currQuiz[div])
#qteams[room].update(dict(zip(df['Quizzer'],df['Team'])))

Division A

                             Team             Quizzer   Q1   Q2   Q3  Total
0               Appleton-Veterans    Jeffrey Pennings   60   60   30    150
1               Appleton-Veterans          Hope Tower   20    0    0     20
2               Appleton-Veterans   Harleigh Brunette    0    0    0      0
3               Appleton-Veterans         Hope Hanson   30   10  -20     20
4       Appleton-Stars In The Sky     Aliya Strasburg   40    0   50     90
5       Appleton-Stars In The Sky  Jaquelyn Dickinson    0    0    0      0
6       Appleton-Stars In The Sky         Grace Tower   10  -10   60     60
7   Appleton-Strong and Steadfast        Alyona Zabel    0    0    0      0
8   Appleton-Strong and Steadfast         Isabel Hsie   60   40  -20     80
9   Appleton-Strong and Steadfast         Mercy Tower  -10   40   40     70
10              Marshfield1-Order         Elijah Fish   10   70   30    110
11              Marshfield1-Order      Peter Tompkins    0    0    0      0
12                              ?    Clinton Tompkins                     0
13              Marshfield1-Order       Luke Tompkins    0    0    0      0
14  Appleton-Strong and Steadfast         Faith Tower    0    0    0      0

Division B

                              Team                 Quizzer  Q1  Q2  Q3  Total
0      Appleton-Scepter Of Justice        Rachel Strasburg   0  30  60     90
1      Appleton-Scepter Of Justice            Jack Henslin  40  20  90    150
2      Appleton-Scepter Of Justice               Anika Moe  60   0  80    140
3      Appleton-Scepter Of Justice     Elizabeth Dickinson   0   0   0      0
4                    Appleton-BOSS             Logan Berry   0   0  20     20
5                    Appleton-BOSS             Job Guevara  40  90 -10    120
6      Appleton-Scepter Of Justice             Cayden Rath   0   0   0      0
7        Appleton-Mountain of Fear            Olivia Moore  90  20  20    130
8        Appleton-Mountain of Fear          Shanice Warigi   0  20   0     20
9        Appleton-Mountain of Fear            Elsa Guevara   0  20   0     20
10  Marshfield-Which Of The Angels  Emmalynn Beers-Fuhrman   0   0   0      0
11  Marshfield-Which Of The Angels         Hudson Tompkins  80  90  40    210
12  Marshfield-Which Of The Angels             Logan Colby   0  10   0     10
13                   Appleton-BOSS           Weston Wiltse   0 -10  20     10
14                   Appleton-BOSS           Tommy Thorson   0 -10   0    -10

# Quizzer-team look up table
Create a dictionary of quizzers and their team.

In [20]:
df=D['B'][-1]['dfq']
dict(zip(df['Quizzer'],df['Team']))

{None: 'Marshfield-Which Of The Angels',
 'Emmalynn Beers-Fuhrman': 'Marshfield-Which Of The Angels',
 'Hudson Tompkins': 'Marshfield-Which Of The Angels',
 'Logan Colby': 'Marshfield-Which Of The Angels',
 'Jack Henslin': 'Appleton-Scepter Of Justice',
 'Rachel Strasburg': 'Appleton-Scepter Of Justice',
 'Anika Moe': 'Appleton-Scepter Of Justice',
 'Elizabeth Dickinson': 'Appleton-Scepter Of Justice',
 'Cayden Rath': 'Appleton-Scepter Of Justice',
 'Job Guevara': 'Appleton-BOSS',
 'Weston Wiltse': 'Appleton-BOSS',
 'Logan Berry': 'Appleton-BOSS',
 'Tommy Thorson': 'Appleton-BOSS',
 'Shanice Warigi': 'Appleton-Mountain of Fear',
 'Elsa Guevara': 'Appleton-Mountain of Fear',
 'Olivia Moore': 'Appleton-Mountain of Fear'}

# YTD scores for quizzers
Print the cumulative scores, jumps, and erors for the quizzers.

In [18]:
importlib.reload(QS)
cumQuiz={}
for div in ['A','B']:
    F=[x['dfq'] for x in D[div]]
    cumQuiz[div]=QS.MeetQuizzerCumulativeScores(pd.concat(F),sort=True)
    print('Division %s'%div)
    display(cumQuiz[div])

Division A

               Quizzer                           Team  Points  Errors  Jumps
11    Jeffrey Pennings              Appleton-Veterans   870.0    11.0   54.0
5          Grace Tower      Appleton-Stars In The Sky   700.0    10.0   45.0
7          Hope Hanson              Appleton-Veterans   580.0    20.0   53.0
3          Elijah Fish              Marshfield1-Order   530.0    18.0   48.0
0      Aliya Strasburg      Appleton-Stars In The Sky   480.0    19.0   47.0
13         Mercy Tower  Appleton-Strong and Steadfast   460.0     8.0   31.0
9          Isabel Hsie  Appleton-Strong and Steadfast   280.0    11.0   26.0
8           Hope Tower              Appleton-Veterans    80.0     0.0    4.0
12       Luke Tompkins              Marshfield1-Order    60.0     1.0    4.0
6    Harleigh Brunette              Appleton-Veterans    20.0     1.0    2.0
1         Alyona Zabel  Appleton-Strong and Steadfast     0.0     2.0    2.0
2     Clinton Tompkins              Marshfield1-Order     0.0     0.0    0.0
4          Faith Tower  Appleton-Strong and Steadfast     0.0     0.0    0.0
10  Jaquelyn Dickinson      Appleton-Stars In The Sky     0.0     0.0    0.0
14      Peter Tompkins              Marshfield1-Order     0.0     1.0    1.0

Division B

,Quizzer,Team,Points,Errors,Jumps
6,Jack Henslin,Appleton-Scepter Of Justice,810.0,12.0,53.0
10,Olivia Moore,Appleton-Mountain of Fear,710.0,2.0,35.0
0,Anika Moe,Appleton-Scepter Of Justice,520.0,4.0,29.0
8,Logan Berry,Appleton-BOSS,480.0,3.0,26.0
7,Job Guevara,Appleton-BOSS,430.0,15.0,39.0
5,Hudson Tompkins,Marshfield-Which Of The Angels,420.0,16.0,40.0
11,Rachel Strasburg,Appleton-Scepter Of Justice,410.0,5.0,26.0
3,Elsa Guevara,Appleton-Mountain of Fear,320.0,5.0,21.0
12,Shanice Warigi,Appleton-Mountain of Fear,100.0,2.0,7.0
2,Elizabeth Dickinson,Appleton-Scepter Of Justice,60.0,1.0,4.0
9,Logan Colby,Marshfield-Which Of The Angels,30.0,6.0,8.0
4,Emmalynn Beers-Fuhrman,Marshfield-Which Of The Angels,20.0,2.0,3.0
14,Weston Wiltse,Appleton-BOSS,10.0,5.0,6.0
1,Cayden Rath,Appleton-Scepter Of Justice,0.0,0.0,0.0
13,Tommy Thorson,Appleton-BOSS,-10.0,3.0,3.0

# YTD for teams
Print cumulative scores and errors for teams.

In [21]:
importlib.reload(QS)
cumTeam={}
for div in ['A','B']:
    F=[x['dft'] for x in D[div]]
    cumTeam[div]=QS.MeetTeamCumulativeScores(pd.concat(F),sort=True)
    print('Division %s'%div)
    display(cumTeam[div])

Division A

                            Team   Score  Points  Errors
2              Appleton-Veterans  1890.0   187.0    32.0
0      Appleton-Stars In The Sky  1420.0   136.0    29.0
1  Appleton-Strong and Steadfast  1060.0    89.0    21.0
3              Marshfield1-Order   880.0    69.0    20.0

Division B

                             Team   Score  Points  Errors
2     Appleton-Scepter Of Justice  2100.0   205.0    22.0
1       Appleton-Mountain of Fear  1450.0   134.0     9.0
0                   Appleton-BOSS  1150.0   101.0    26.0
3  Marshfield-Which Of The Angels   700.0    55.0    24.0

# Write report
Write scores anew in a spreadsheet.

In [23]:
importlib.reload(QS)

writer = pd.ExcelWriter(fnxlsx) 

#
# write the A and B division stats sheets
#
for ri,div in enumerate(['A','B']):
    room=ri+1
    sheet='%s-Division Stats'%div
    
    # write each month
    for mi,meet in enumerate(D[div]):
        qstats=QS.meetStats(meet['dfq'],termList=list(uqz[div]))
        tstats=QS.meetStats(meet['dft'],termList=list(utm[div]))
        if(mi==0):
            # for the first meet, keep all columns
            dfq=qstats
            dft=tstats
            qcol=0
            tcol=1
        else:
            # for every other month, only write out the quiz results
            dfq=qstats.loc[:,'Q1':]
            dft=tstats.loc[:,'Q1':]
            qcol=2+5*mi
            tcol=qcol
        
        # write quizzer monthly stats on division sheet
        dfq.to_excel(writer,sheet_name=sheet,startrow=1, startcol=qcol,index=False) 
        dft.to_excel(writer,sheet_name=sheet,startrow=20, startcol=tcol,index=False) 
        
    # write YTD
    cumQuiz[div].to_excel(writer,sheet_name=sheet,startrow=1, startcol=qcol+5,index=False)
    cumTeam[div].to_excel(writer,sheet_name=sheet,startrow=20, startcol=qcol+5,index=False)

#
# Write the month stats
#
sheet='Meet Stats'
for di,div in enumerate(['A','B']):
    row=1+di*19
    meet=D[div][-1]
    qstats=QS.meetStats(meet['dfq'],termList=list(uqz[div]),sort=True)
    tstats=QS.meetStats(meet['dft'],termList=list(utm[div]),sort=True)
    qstats.to_excel(writer,sheet_name=sheet,startrow=row, startcol=0,index=False)
    tstats.to_excel(writer,sheet_name=sheet,startrow=row, startcol=7,index=False)
writer.save()
print('done!')

done!